<!DOCTYPE HTML>
<html>

<head>
  <title>
    <h2>Kitchen Report</h2>
  </title>
  <style>
    table {
      border-collapse: collapse;
    }

    table,
    td,
    th {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h2>Dalviroo Report</h2>
  <table>
    <tr>
      <th>Product Name</th>
      <th>Produced</th>
      <th>Predicted</th>
    </tr>
    <% for(var i=0; i < products.length; i++) { %>
      <tr>
        <td>
          <%= products[i].name %>
        </td>
        <td>
          <%= products[i].createdTillNow %>
        </td>
        <td>
          <%= products[i].predicted %>
        </td>
      </tr>
      <% } %>
  </table>

</body>

</html>